---
  version: '3.7'
  services:
    prometheus:
      image: prom/prometheus
      volumes:
        - {{ source_data_prom }}:{{ target_data_prom }}
        - {{ source_data_prom }}/prometheus.yml:/etc/prometheus/prometheus.yml
      ports:
        - "9090"
      networks:
        - traefik-net
      deploy:
        labels:
          traefik.port: 9090
          traefik.docker.network: "traefik-net"
          traefik.frontend.rule: "Host:{{ prom_dns }}"
    grafana:
      image: grafana/grafana
      volumes:
        - {{ source_data_grafana}}:/var/lib/grafana
      ports:
        - "3000"
      networks:
        - traefik-net
      deploy:
        labels:
          traefik.port: 3000
          traefik.docker.network: "traefik-net"
          traefik.frontend.rule: "Host:{{ grafana_dns }}"
      environment:
        GF_SERVER_ROOT_URL: {{ GF_SERVER_ROOT_URL }}
        GF_SERVER_DOMAIN: {{ GF_SERVER_DOMAIN }}
        GF_SECURITY_ADMIN_PASSWORD: {{ GF_SECURITY_ADMIN_PASSWORD }}
  networks:
    traefik-net:
      external: true
